<center>
<form id="getd">
<p>Check Your Details</p>
<input type="text" placeholder="enteryourname" name="getname"><br>
<button id="check">Check</button>&nbsp
<input type="button" value="login" id="login1">
</form>
<div id="error">Details not found</div>
</center>
